.LeftNavLinks{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

  
  .LeftNavLinks:hover {
    background-color: #f1f1f1;
  }
  
  .LeftNavLinks.selected {
    background-color: var(--border);
    border-radius: 8px;
  }
  

.LeftNavLinks-title{
    margin-left: 0.3rem;
    margin-top: 0.25rem;
}
.LeftNavLinks-title p{
    font-family: var(--font-family);
    color: var(--text-color2);
    font-size: 14px;
    font-weight: 600;
}