.order-page {
  padding: 0;
  font-family: var(--font-family);
}

.order-page-title{
  margin: 1.5rem 0;
}
.order-page-title h3{ 
  font-family: var(--font-family) !important;
  font-size: 16px !important;
  color: var(--text-color2) !important;
  font-weight: 700;
}


.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.order-table th,
.order-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}
.order-table td {
  font-family: var(--font-family);
  color: var(--text-color2);
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
}
.order-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  white-space: nowrap;
}

.order-table tr:nth-child(even) {
  background-color: #fafafa;
}

.order-table tr:hover {
  background-color: #f1f1f1;
}

/* Modal form styling */
.custom-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-btn {
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

.quantity-input {
  width: 60px;
  text-align: center;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary,
.btn-secondary {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}
.edit-btn,
.delete-btn {
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  font-size: 0.85rem;
  cursor: pointer;
}

.edit-btn {
  background-color: var(--background-color);
  color: #fff;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn:hover {
  background-color: #a71d2a;
}

.download-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  
}
.modal-button-download{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
}
.download-container .search-input-container{
margin-bottom: 0;
}
.download-button{
  margin-right: 1rem;
}
@media screen and (max-width:1500px) {
 
}
@media screen and (max-width:1200px) {
  .order-table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 780px;
  }
}

@media screen and (max-width: 800px) {
  .order-table th {
    font-size: 14px;
  }
  .order-table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 700px;
  }
}

@media screen and (max-width: 500px) {
  .order-page {
    padding: 0;
    font-family: var(--font-family);
    overflow-x: hidden;
  }

  .order-table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 360px;
  }

  .order-table {
    max-width: 400px;
    width: 100%;
  }

  .order-table th,
  .order-table td {
    padding: 10px;
    text-align: left;
  }

  .order-table td {
    font-size: 12px;
  }

  .order-table th {
    font-size: 12px;
  }
  .download-container {
    display: grid;
    grid-template-columns: 1fr;

  }
  .download-container .search-input-container {
    margin-top: 0;
    margin-bottom: 1rem;
}
}
@media screen and (max-width: 400px) {
 

  .order-table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 320px;
  }

}
@media screen and (max-width: 340px) {
 

  .order-table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 270px;
  }

}

