@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* The following line can be included in a src/App.scss */
@import 'bootstrap/dist/css/bootstrap.min.css';




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
  font-family: var(--font-family) !important;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: var(--font-family) !important;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: var(--font-family) !important;
  font-weight: 600;
  font-size: 19px;
}

:root {
  --font-family: "Nunito Sans", sans-serif;
  --color: #F4CE14;
  --border: #f0f4f8;
  --text-color: #121212;
  --text-color2: #545454;
  --background-color: #3c58ae;
  --background-color2: #3b67af;
}

.search-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
  background-color: #fff;
}

.search-input-container svg {
  margin-right: 8px;
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 14px;
  padding: 0;
}

.search-input::placeholder {
  color: #888;
}